body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 3.8rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3.4rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 4.25rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.375rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.04rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.66rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.72rem;
    font-size: calc( 1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ff6f3d !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ff6f3d !important;
  border-color: #ff6f3d !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #e53b00 !important;
  border-color: #e53b00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #e53b00 !important;
  border-color: #e53b00 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6f3d;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #e53b00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6f3d !important;
  border-color: #ff6f3d !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ff6f3d !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #d63700 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ff6f3d;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff6f3d;
  border-color: #ff6f3d;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ff6f3d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ff6f3d !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #ff6f3d;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff6f3d;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ff6f3d;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff6f3d;
  border-bottom-color: #ff6f3d;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ff6f3d !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff6f3d' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-s48MCQYojq {
  background-image: url("../../../assets/images/background7.jpg");
}
.cid-s48MCQYojq .mbr-section-title {
  text-align: center;
}
.cid-s48MCQYojq .mbr-text,
.cid-s48MCQYojq .mbr-section-btn {
  color: #232323;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-s48MCQYojq .mbr-section-title,
  .cid-s48MCQYojq .mbr-section-btn,
  .cid-s48MCQYojq .mbr-text {
    text-align: center;
  }
}
.cid-s48udlf8KU {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-s48udlf8KU .mbr-section-title {
  text-align: left;
}
.cid-s48udlf8KU .mbr-section-subtitle {
  text-align: left;
}
.cid-s48upRUlSD {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-s48upRUlSD .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-s48upRUlSD .row {
  flex-direction: row-reverse;
}
.cid-s48upRUlSD img {
  width: 100%;
}
.cid-s48vaXqeL6 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-s48vaXqeL6 .mbr-section-title {
  text-align: left;
}
.cid-s48vaXqeL6 .mbr-section-subtitle {
  text-align: left;
}
.cid-s48vnjULo4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-s48vnjULo4 .mbr-section-title {
  text-align: left;
}
.cid-s48vnjULo4 .mbr-section-subtitle {
  text-align: left;
}
.cid-s48vrXhP0J {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-s48vrXhP0J .mbr-section-title {
  text-align: left;
}
.cid-s48vrXhP0J .mbr-section-subtitle {
  text-align: left;
}
.cid-sxjw0Wrow6 {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: #fafafa;
}
.cid-sxjw0Wrow6 .row {
  flex-direction: row-reverse;
}
.cid-sxjw0Wrow6 .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-sxjw0Wrow6 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-sxjw0Wrow6 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-sxjw0Wrow6 .mbr-section-title {
  color: #ff6f3d;
}
.cid-sxjw0Wrow6 .mbr-text,
.cid-sxjw0Wrow6 .mbr-section-btn {
  color: #3e503c;
}
.cid-sxjzgwSMd9 {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: #ff6f3d;
}
.cid-sxjzgwSMd9 .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sxjzgwSMd9 .item {
  padding-left: 0;
  padding-right: 0;
}
.cid-sxjzgwSMd9 .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-sxjzgwSMd9 .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-sxjzgwSMd9 .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-sxjzgwSMd9 .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-sxjzgwSMd9 .carousel-control,
.cid-sxjzgwSMd9 .close {
  background: #1b1b1b;
}
.cid-sxjzgwSMd9 .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-sxjzgwSMd9 .carousel-control-prev span {
  margin-right: 5px;
}
.cid-sxjzgwSMd9 .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-sxjzgwSMd9 .carousel-control-next span {
  margin-left: 5px;
}
.cid-sxjzgwSMd9 .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-sxjzgwSMd9 .close::before {
  content: '\e91a';
}
.cid-sxjzgwSMd9 .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-sxjzgwSMd9 .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sxjzgwSMd9 .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sxjzgwSMd9 .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sxjzgwSMd9 .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sxjzgwSMd9 .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-sxjzgwSMd9 .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sxjzgwSMd9 .carousel-indicators li.active,
.cid-sxjzgwSMd9 .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sxjzgwSMd9 .carousel-indicators li::after,
.cid-sxjzgwSMd9 .carousel-indicators li::before {
  content: none;
}
.cid-sxjzgwSMd9 .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sxjzgwSMd9 .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-sxjzgwSMd9 .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-sxjzgwSMd9 .carousel-indicators {
    display: none;
  }
}
.cid-sxjzgwSMd9 .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sxjzgwSMd9 .carousel-inner > .active {
  display: block;
}
.cid-sxjzgwSMd9 .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sxjzgwSMd9 .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sxjzgwSMd9 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-sxjzgwSMd9 .carousel-control,
  .cid-sxjzgwSMd9 .carousel-indicators,
  .cid-sxjzgwSMd9 .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-sxjzgwSMd9 .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-sxjzgwSMd9 .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-sxjzgwSMd9 .carousel-indicators .active,
.cid-sxjzgwSMd9 .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-sxjzgwSMd9 .carousel-indicators .active {
  background: #fff;
}
.cid-sxjzgwSMd9 .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-sxjzgwSMd9 .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-sxjzgwSMd9 .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sxjzgwSMd9 .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-sxjzgwSMd9 .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-sxjzgwSMd9 .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-sxjzgwSMd9 .carousel {
  width: 100%;
}
.cid-sxjzgwSMd9 .modal-backdrop.in {
  opacity: 0.8;
}
.cid-sxjzgwSMd9 .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-sxjzgwSMd9 .modal.fade .modal-dialog,
.cid-sxjzgwSMd9 .modal.in .modal-dialog {
  transform: none;
}
.cid-sxjzgwSMd9 .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-sxjzgwSMd9 H6 {
  text-align: center;
}
.cid-sxjzgwSMd9 H3 {
  color: #fafafa;
}
.cid-sxjJfcOSCf {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: #fafafa;
}
@media (min-width: 1500px) {
  .cid-sxjJfcOSCf .container {
    max-width: 1400px;
  }
}
.cid-sxjJfcOSCf .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-sxjJfcOSCf .card-wrapper {
  margin-top: 3rem;
}
.cid-sxjJfcOSCf .row {
  justify-content: center;
}
.cid-sxjJfcOSCf .card-title,
.cid-sxjJfcOSCf .iconfont-wrapper {
  color: #000000;
}
.cid-sxjJfcOSCf .card-text {
  color: #000000;
}
.cid-sxjphpwYeO {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #3e503c;
}
.cid-sxjphpwYeO .mbr-overlay {
  z-index: 1;
}
@media (min-width: 992px) {
  .cid-sxjphpwYeO .carousel {
    min-height: 500px;
  }
  .cid-sxjphpwYeO .carousel img {
    max-height: 500px;
    object-fit: contain;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-sxjphpwYeO .carousel {
    min-height: 325px;
  }
  .cid-sxjphpwYeO .carousel img {
    max-height: 325px;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .cid-sxjphpwYeO .carousel {
    min-height: 275px;
  }
  .cid-sxjphpwYeO .carousel img {
    max-height: 275px;
    object-fit: contain;
  }
  .cid-sxjphpwYeO .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-sxjphpwYeO .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-sxjphpwYeO .carousel,
.cid-sxjphpwYeO .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sxjphpwYeO .item-wrapper {
  width: 100%;
}
.cid-sxjphpwYeO .carousel-caption {
  bottom: 40px;
}
.cid-sxjphpwYeO .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-sxjphpwYeO .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sxjphpwYeO .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-sxjphpwYeO .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-sxjphpwYeO .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sxjphpwYeO .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sxjphpwYeO .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sxjphpwYeO .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sxjphpwYeO .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-sxjphpwYeO .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sxjphpwYeO .carousel-indicators li.active,
.cid-sxjphpwYeO .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sxjphpwYeO .carousel-indicators li::after,
.cid-sxjphpwYeO .carousel-indicators li::before {
  content: none;
}
.cid-sxjphpwYeO .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sxjphpwYeO .carousel-indicators {
    display: none !important;
  }
}
.cid-sxjpdMgZqP {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-color: #fafafa;
}
.cid-sxjpdMgZqP ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-sxjpdMgZqP li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-sxjpdMgZqP ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #ff6f3d;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-sxjS6t0ZtE {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-color: #ff6f3d;
}
.cid-sxjS6t0ZtE .item {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  flex-direction: column;
}
.cid-sxjS6t0ZtE .icon-box {
  margin-bottom: 1rem;
  text-align: center;
  display: inline-block;
}
.cid-sxjS6t0ZtE .text-box {
  text-align: center;
}
.cid-sxjS6t0ZtE span {
  font-size: 7rem;
  color: #ffffff;
  font-weight: bold;
  display: block;
}
@media (max-width: 991px) {
  .cid-sxjS6t0ZtE .card {
    margin-bottom: 2rem;
  }
  .cid-sxjS6t0ZtE .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .cid-sxjS6t0ZtE span {
    font-size: 21vw;
  }
}
.cid-sxjS6t0ZtE .item .icon-box .step-number {
  color: #ffffff;
}
.cid-sxjUdY5v1T {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-sxjUdY5v1T .carousel-item {
  justify-content: center;
}
.cid-sxjUdY5v1T .carousel-item.active,
.cid-sxjUdY5v1T .carousel-item-next,
.cid-sxjUdY5v1T .carousel-item-prev {
  display: flex;
}
.cid-sxjUdY5v1T .carousel-controls a {
  transition: opacity .5s;
  font-size: 30px;
  position: absolute;
  top: 180px;
  bottom: auto;
  height: 60px;
  width: 60px;
  padding: 10px;
  color: #155ce0;
}
.cid-sxjUdY5v1T .carousel-controls a .mbr-iconfont {
  font-weight: 800;
}
.cid-sxjUdY5v1T .carousel-control-next span {
  padding-left: 5px;
}
.cid-sxjUdY5v1T .carousel-control-prev span {
  padding-right: 5px;
}
.cid-sxjUdY5v1T .user_image {
  width: 200px;
  height: 200px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}
.cid-sxjUdY5v1T .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 230px) {
  .cid-sxjUdY5v1T .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-sxjVL5zUE3 {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #fafafa;
}
.cid-sxjVL5zUE3 .bg-instagram {
  background: #f00075;
  color: #ffffff;
}
.cid-sxjVL5zUE3 .bg-instagram:hover {
  background: #bd005c;
}
.cid-sxjVL5zUE3 .bg-tiktok {
  background: #000000;
  color: #ffffff;
}
.cid-sxjVL5zUE3 .bg-tiktok:hover {
  background: #000000;
}
.cid-sxjVL5zUE3 .iconfont-wrapper {
  display: inline-block;
  font-size: 32px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cid-sxjVL5zUE3 [class^="socicon-"]:before,
.cid-sxjVL5zUE3 [class*=" socicon-"]:before {
  line-height: 55px;
  padding: .6rem;
}
.cid-sxjVL5zUE3 .mbr-section-title,
.cid-sxjVL5zUE3 .social-list {
  color: #353535;
}
.cid-sxAFIFaVI8 {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-sxAFIFaVI8 .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sxAFIFaVI8 .image-wrap img {
    display: block;
    margin: auto;
    width: 60%;
  }
}
.cid-sxAFIFaVI8 .mbr-section-title {
  color: #ff6f3d;
}
.cid-sxAFIFaVI8 .mbr-text,
.cid-sxAFIFaVI8 .mbr-section-btn {
  color: #3e503c;
}
.cid-sxAFOh74YI {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #ff6f3d;
}
.cid-sxAFOh74YI .mbr-section-title {
  color: #ffffff;
}
.cid-sxAFZPudK8 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-sxAFZPudK8 .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sxAFZPudK8 .item {
  padding-left: 0;
  padding-right: 0;
}
.cid-sxAFZPudK8 .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-sxAFZPudK8 .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-sxAFZPudK8 .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-sxAFZPudK8 .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-sxAFZPudK8 .carousel-control,
.cid-sxAFZPudK8 .close {
  background: #1b1b1b;
}
.cid-sxAFZPudK8 .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-sxAFZPudK8 .carousel-control-prev span {
  margin-right: 5px;
}
.cid-sxAFZPudK8 .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-sxAFZPudK8 .carousel-control-next span {
  margin-left: 5px;
}
.cid-sxAFZPudK8 .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-sxAFZPudK8 .close::before {
  content: '\e91a';
}
.cid-sxAFZPudK8 .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-sxAFZPudK8 .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sxAFZPudK8 .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sxAFZPudK8 .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sxAFZPudK8 .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sxAFZPudK8 .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-sxAFZPudK8 .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sxAFZPudK8 .carousel-indicators li.active,
.cid-sxAFZPudK8 .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sxAFZPudK8 .carousel-indicators li::after,
.cid-sxAFZPudK8 .carousel-indicators li::before {
  content: none;
}
.cid-sxAFZPudK8 .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sxAFZPudK8 .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-sxAFZPudK8 .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-sxAFZPudK8 .carousel-indicators {
    display: none;
  }
}
.cid-sxAFZPudK8 .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sxAFZPudK8 .carousel-inner > .active {
  display: block;
}
.cid-sxAFZPudK8 .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sxAFZPudK8 .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sxAFZPudK8 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-sxAFZPudK8 .carousel-control,
  .cid-sxAFZPudK8 .carousel-indicators,
  .cid-sxAFZPudK8 .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-sxAFZPudK8 .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-sxAFZPudK8 .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-sxAFZPudK8 .carousel-indicators .active,
.cid-sxAFZPudK8 .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-sxAFZPudK8 .carousel-indicators .active {
  background: #fff;
}
.cid-sxAFZPudK8 .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-sxAFZPudK8 .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-sxAFZPudK8 .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sxAFZPudK8 .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-sxAFZPudK8 .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-sxAFZPudK8 .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-sxAFZPudK8 .carousel {
  width: 100%;
}
.cid-sxAFZPudK8 .modal-backdrop.in {
  opacity: 0.8;
}
.cid-sxAFZPudK8 .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-sxAFZPudK8 .modal.fade .modal-dialog,
.cid-sxAFZPudK8 .modal.in .modal-dialog {
  transform: none;
}
.cid-sxAFZPudK8 .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-sxAFZPudK8 H6 {
  text-align: center;
}
.cid-sxAG3vkgaS {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background-color: #3e503c;
}
.cid-sxAG3vkgaS .mbr-section-title {
  color: #ffffff;
}
